name: Github Actions Workflow
on:
  push:
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: make check
        run: make check
  release-please:
    runs-on: ubuntu-latest
    needs: [check]
    if: github.ref == 'refs/heads/master'
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: release-please
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
